# Виртуальное окружение
venv/
env/
.venv/
.env/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Файлы баз данных
*.db
*.sqlite
*.sqlite3

# Временные файлы
temp/
tmp/

# Файлы логов
*.log
logs/

# Среды разработки
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Игнорируем содержимое temp, но сохраняем саму директорию
temp/*
!temp/.gitkeep
